#
# this is configuration file for sakura e2e testing
#

# input and output data
sakura_e2e.input	= /nfsstore1/sakura_e2e/data/x141.032Ants.asap/
sakura_e2e.output	= test.asap_out
sakura_e2e.spw		= 3

#concurrency options
sakura_e2e.serialize = false
sakura_e2e.max_threads = 12

# calibration options
sakura_e2e.calibration.sky	= /nfsstore1/sakura_e2e/data/x141.032Ants.asap_sky
sakura_e2e.calibration.tsys	= /nfsstore1/sakura_e2e/data/x141.032Ants.asap_tsys
sakura_e2e.calibration.tsys_spw = 1

# flagging options
sakura_e2e.flagging.edge 				= 10
sakura_e2e.flagging.clipping_threshold 	= 12.0

# baseline options
sakura_e2e.baseline.fitfunc = Chebyshev
sakura_e2e.baseline.order = 3
sakura_e2e.baseline.clipping_threshold = 3.0
sakura_e2e.baseline.num_fitting_max = 2
sakura_e2e.baseline.mask = [[1000,2000],[3000,4000]]

# smoothing options
sakura_e2e.smoothing.kernel = Gaussian
sakura_e2e.smoothing.kernel_width = 5
sakura_e2e.smoothing.use_fft = True
