#
# this is configuration file for sakura e2e testing
#

# input and output data
sakura_e2e.input	= /nfsstore1/sakura_e2e/data/uid___A002_X70402d_X8db.PM01.asap
sakura_e2e.output	= test.asap_out

# calibration options
sakura_e2e.calibration.sky	= test.sky
sakura_e2e.calibration.tsys	= test.tsys

# flagging options
sakura_e2e.flagging.edge = 10
sakura_e2e.flagging.clipping_threshold = 12.0

# baseline options
sakura_e2e.baseline.mask = [[1000,2000],[3000,4000]]
#sakura_e2e.baseline.mask = [1000,2000]
